Source: tspikes 
Section: science
Priority: extra
Maintainer: Stuart Layton <slayton@mit.edu>
Build-Depends: debhelper (>= 7), cdbs, libsomanetwork-dev, libsomadspio-dev, cmake,
    libglademm-2.4-dev, libglademm-2.4-1c2a, libgtkglextmm-x11-1.2-0, 
    libgtkglextmm-x11-1.2-dev, libgtkglext1-dev, liblog4cpp5-dev

Standards-Version: 3.8.0
Package: tspikes
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Soma 4 channel spike visualization software
